@aranda:registry=https://tfs.arandasoft.com:8081/tfs/ArandaArtifacts/_packaging/release/npm/registry/
registry=https://registry.npmjs.org

always-auth=true
legacy-peer-deps=true

; begin auth token
//tfs.arandasoft.com:8081/tfs/ArandaArtifacts/_packaging/release/npm/registry/:username=ArandaArtifacts
//tfs.arandasoft.com:8081/tfs/ArandaArtifacts/_packaging/release/npm/registry/:_password=aTdkZWR2eHFnYjI2ZWhocGhyMmV3MzJybG5qYXRjMmlwc2VvenY3NTYyamt0bHU3ZnJkYQ==
//tfs.arandasoft.com:8081/tfs/ArandaArtifacts/_packaging/release/npm/registry/:email=npm requires email to be set but doesn't use the value
//tfs.arandasoft.com:8081/tfs/ArandaArtifacts/_packaging/release/npm/:username=ArandaArtifacts
//tfs.arandasoft.com:8081/tfs/ArandaArtifacts/_packaging/release/npm/:_password=ajZ3NG94Z3huZGdjYW5zdm01ZXNjNWFzNGRnaHF6bXdibXB4eHNmeXNjYm5uZmQ2dHZ4YQ==
//tfs.arandasoft.com:8081/tfs/ArandaArtifacts/_packaging/release/npm/:email=npm requires email to be set but doesn't use the value
; end auth token